body {
	background-color: #233d4d;
}

.cell {
	background-color: #ffffff;
}

.row {
	display: flex;
}

.input {
	border-radius: 0.5rem;
	border-color: transparent;
	width: 10rem;
	height: 1.5rem;
	background-color: #efefef;
}

#color-picker {
	border-radius: 0.5rem;
	border-color: transparent;
	height: 3rem;
	width: 6rem;
}

#grid {
	display: flex;
	flex-direction: column;
	width: 720px;
	height: 720px;
	background-color: blue;
}

#main {
	display: flex;
}

#panel {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	gap: 3rem;
	justify-content: flex-start;
	align-items: center;
	/* background-color: #233d4d; */
	background-color: #fe7f2d;
	color: #ffffff;
	overflow: hidden;
}

#panel-buttons {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

#canvas {
	display: flex;
	align-items: center;
	height: 100vh;
	margin: auto;
}

#slider-container {
	display: flex;
	flex-direction: column;
}