body {
}

.cell {
	background-color: #ffffff;
	border-style: solid;
	border-color: black;
	border-width: 0.1px;
}

.row {
	display: flex;
}

#grid {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 600px;
	background-color: blue;
}